<div class="content-exp">
<div class="row justify-content-md-center text-center my-3 py-5">
<div class="col-md-3 bg-white col-exp-1">
	<i class="bi bi-hdd-stack-fill"></i>
	<h3 class="header-exp">
		Backend </h3>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At vitae doloremque minus voluptatum perspiciatis? A nobis, soluta numquam odio aliquid eaque officia! Quos repellendus 
		voluptatem exercitationem dignissimos, maiores sint esse.</p>
		<p class="text-primary">
			Stack:
		</p>
		<p>
			ASP.NET, SQL Server
		</p>
		<p class="text-primary">
			Experience:
		</p>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Web APIs</li>
			<li class="list-group-item">ASP Core MVC</li>
		</ul>
</div>
<div class="col-md-3 bg-white col-exp-2">
	<i class="bi bi-file-earmark-code-fill"></i>
	<h3 class="header-exp">
		Frontend </h3>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At vitae doloremque minus voluptatum perspiciatis? A nobis, soluta numquam odio aliquid eaque officia! Quos repellendus 
		voluptatem exercitationem dignissimos, maiores sint esse.</p>
		<p class="text-primary">
			Stack:
		</p>
		<p>
			React, Angular
		</p>
		<p class="text-primary">
			Experience:
		</p>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">React hooks</li>
			<li class="list-group-item">Angular</li>
		</ul>
</div>
</div>
</div>
