<div class="text-center">
    <h1 class="display-4">I'Am Alfredo Izquierdo</h1>
    <p>I am Full stack developer</p>

	<img 
		class="rounded mx-auto d-block imgProfile"
		src="~/images/me.jpg" 
		alt="Alfredo Izquierdo picture" />
</div>
<div class="row justify-content-center text-center bg-primary my-3 py-5">
	<div class="col-md-7 section-welcome">
		<h1>Welcome to my portafolio</h1>
		<p>
			Developer software engineer witm more the 9  year of experience in this carrear, creating, maintenance different app, Proven abilities to maximize system productivity, reduced projects cost and finished projects on.
			Working collaboratively  Operations and Developers to effectively and efficiently. Emigrate different system to a void  extra cost for the company using different thennology the help me to build Application and Websites as the job required. Implement the best result posible for all the projects to have the best result in the end. 
			Printing my experience all the team to help Improved work flow by using new tools.
		</p>
	</div>
</div>