@{
    ViewData["Title"] = "Thanks";
}

<div class="container">
	<h2>Thanks</h2>
	<p>Thanks for contact to me I will be back to you soon I can</p>
	<a asp-action="Index" asp-controller="Home">Go home</a>
</div>